.card{
    width: 250px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: $backgroundCard;

    &__link{
        width: 250px;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        font-family: $mainFont;
        font-size: 20px;
        color: white;
    }

    &__img{
        width: 220px;
        height: auto;
        border-radius: 30px;
    }

    &__name{
        font-size: 25px;
    }
}