.form{
    height: 90px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    &__input-search{
        width: 300px;
        height: 35px;
        text-align: center;
        font-family: $mainFont;
        font-size: 20px;
        color: black;
        border: 0;
        border-radius: 37px;
        background: linear-gradient(to top right, #b3d929 0%, #04adbf 100%);
    }
    ::placeholder { color: black; } 
}
