@import '../core/reset.scss';
@import '../core/variables.scss';

// CSS from https://uiverse.io/

.scrollUp {
    display: flex;
    position: fixed;
    bottom: 65px;
    right: 15px;
    box-sizing: border-box;
    border: 0;
    border-radius: 50px;
    color: black;
    padding: 1.4em 1.2em;
    background: $greenAlive;
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  
  .scrollUp .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .scrollUp .arrow {
    margin-top: 1px;
    width: $arrow-width;
    background: $greenAlive;
    height: $arrow-stroke;
    position: relative;
    transition: 0.2s;
    transform: rotate(-90deg);
  }
  
  .scrollUp .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid white;
    border-width: 0 $arrow-stroke $arrow-stroke 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .scrollUp:hover {
    background-color: $backgroundDetail;
  }
  
  .scrollUp:hover .arrow {
    background: white;
  }
  
  .scrollUp:hover .arrow:before {
    right: 0;
  }

  
  .show{
    opacity: 100;
  }

  .hidden{
    opacity: 0;
  }

 ///////////////////// MEDIAQUERIES /////////////////////////
  
  @media screen and (min-width:768px){
    .scrollUp{
      right: 25px;
    }
  }