// fonts
$mainFont:'Dosis', sans-serif;

// colors
$greenSelected: #93cc7a;
$secondgreen: #6abd46; 
$backgroundCard: #024a52;
$backgroundFavourites: #c5c7c4;
$backgrounColorCharacters: #313131;