// fonts
$mainFont:'Dosis', sans-serif;

// colors
$backgroundCard: #024a52;
$backgroundDetail: #0f9e92;
$redAlive: #c01e1e;
$greenAlive: #B3D929;
$greyUnknow: #a7aebd;

// sizes 
$arrow-width: 10px;
$arrow-stroke: 2px;